
.imgac-1{
    background-image: linear-gradient(280deg,  rgb(21 36 32) 24%, rgb(0, 0, 0) 51%),
    url(https://images.vexels.com/media/users/3/157918/isolated/lists/e54e73c9f51d8783e7b3240298ee10e7-cross-grid-design.png);
    
  width: 100%;
  
  height: 100vh;
}
.md-wave{

  background-image: linear-gradient(252deg,  rgb(21 36 32) 24%, rgb(0, 0, 0) 51%);
}
.md-section{
 height: 100vh;
   /* background-image: linear-gradient(280deg,  rgb(21 36 32) 24%, rgb(0, 0, 0) 51%),
   url(https://images.vexels.com/media/users/3/157918/isolated/lists/e54e73c9f51d8783e7b3240298ee10e7-cross-grid-design.png);
    ; */

    background-image: linear-gradient(265deg,  rgb(21 36 32) 24%, rgb(0, 0, 0) 51%),url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg);

 }
 